h1 {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins';
    color: rgb(36, 36, 36);
}

p {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Poppins';
    color: rgb(36, 36, 36);
}